.App {
  border: solid 3px purple;
  width: 80%;
  height: 100vh;
  margin: auto;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 1fr 8fr;
  grid-gap: 1em;
}
.Header {
  margin: 0;
  grid-area: 1 / span 3;
  border: solid 2px green;
}

.Nav {
  margin: 0;
  grid-area: 2 span / span 1;
  border: solid 2px blue;
}
.Articles {
  margin: 0;
  padding: 0;
  grid-area: 2 span;
  border: solid 2px red;
  overflow-y: scroll;
}
/* .NewestArticle {
  border: solid 1px cyan;
  grid-area: 1 / 2;
} */
.articlePreview {
  border: dashed 1px darkcyan;
  height: 3em;
  text-align: justify;
  padding: 0.2em;
  margin: 1em;
  list-style: none;
}
