.App {
  border: solid 3px purple;
  width: 80%;
  height: 100vh;
  margin: auto;
  text-align: center;
  display: grid;

  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 9fr;
  grid-gap: 1em;
  grid-template-areas:
    "header header"
    "nav article";
}
.Header {
  margin: 0;
  grid-area: header;
  border: solid 2px green;
  height: 10vh;
}
/* .headerContent {
  position: fixed;
  text-align: center;
  margin: auto;
  border: dashed 2px darkslateblue;
} */

.Nav {
  margin: 0;
  grid-area: nav;
  border: solid 2px blue;
}
.Articles {
  margin: 0;
  padding: 0;
  grid-area: article;
  border: solid 2px red;
  overflow-y: scroll;
}
/* .NewestArticle {
  border: solid 1px cyan;
  grid-area: 1 / 2;
} */
.articlePreview {
  border: dashed 1px darkcyan;
  height: 3em;
  text-align: justify;
  padding: 0.2em;
  margin: 1em;
  list-style: none;
  transition: all 200ms ease-in-out;
}
.articlePreview:hover {
  box-shadow: 2px 2px 12px rgba(71, 71, 71, 0.164);
  border: solid 1px grey;
  transition: all 200ms ease-in-out;
}

.navLinks {
  padding-left: 0.2em;
  list-style: none;
  background-color: rgb(230, 230, 230);
  border: solid 1px rgb(241, 241, 241);
  margin: 0px 0px 10px 0px;
  border-radius: 2px;
  transition: all 200ms ease-in-out;
}

.navLinks:hover {
  box-shadow: 2px 2px 12px rgba(71, 71, 71, 0.164);
  transform: scale(1.01);
  border: solid 1px grey;
  transition: all 200ms ease-in-out;
}

.fullArticle {
  border: solid 1px red;
  grid-area: article;
  text-align: justify;
  padding: 1em;
  margin: 0;
  list-style: none;
  transition: all 200ms ease-in-out;
}
